{% extends "layout.html" %}

{% block body %}

<div class = "jumbotron text-center" >
    <h3>Welcome to Moursera</h3>
    <p>
        This an course application. You can develop yourself in any field. Begin to learn!!!
    </p>
</div>
 <br><br><br><br>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{% url 'article:articles'  %}">Search Courses Here !!</a></button>

    <br><br><br><br><br><br><br>


    {% if request.user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
           Logged in as {{request.user.username}}
        </div>
    {%else%}
    <div class="alert alert-warning" role="alert">
            Not logged in
    </div>
    {%endif%}




{% endblock body %}